<h2>Appearance</h2>
<%= form_for @appearance do |f| %>
  <% if flash[:error] %>
    <div class="row">
      <div id="error_explanation" class="col-md-6">
        <h4>
          <%= pluralize(flash[:error].count, "error") %>
          prohibited this post from being saved:
        </h4>
        <ul>
          <% flash[:error].each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :rating %>
      <%= f.number_field :rating, class: "form-control"%>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label "Guest" %>
      <%= f.collection_select :guest_id, @guests, :id, :name, {include_blank: 'Select a guest'}, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label "Episode" %>
      <%= f.collection_select :episode_id, @episodes, :id, :number, {include_blank: 'Select an episode number'}, class: "form-control"%>
      <br>
    </div>
  </div>
 
  
      <%= f.submit nil, class: 'btn btn-primary' %>
  

<% end  %>